body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: #333;
  text-align: center;
}

h4 {
  color: #333;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
}

input,
select {
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px;
  text-align: center;
  font-size: 1.1rem;
}

input[type="submit"]:hover {
  background-color: #2980b9;
}

a.btn {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

a.btn:hover {
  background-color: #2980b9;
}

.btn-lihat {
  display: block;
  text-align: center;
  margin: 10px auto;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.btn-lihat:hover {
  background-color: #2980b9;
}
